*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
}

.square{
    display: flex;
    width: 250px;
    height: 250px;
    margin: 25px;
    /*border: 5px solid red;*/
    cursor: pointer;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    text-shadow:    -3px 3px 0 #000,
                    3px 3px 0 #000,
                    3px -3px 0 #000,
                    -3px -3px 0 #000;
    border-radius: 10%;
}

.guess{
    font-size: larger;
    text-align: center;
}

.row{
    display: flex;
}

button{
    background-color: rgb(170, 170, 170);
    color: rgb(33, 33, 33);
    width: 125px;
    height: 35px;
    border-radius: 10%;
    border: rgb(61, 61, 61) solid 2px;
    font-size: medium;
    margin-top: 10px;
}